#container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

hr {
    margin: auto;
    height: 3px;
    width: 50px;
    background-color: black;
    position: absolute;
}

hr#tophr {

    margin-bottom: 30px;

}

hr#bottomhr {

    margin-top: 30px;

}

.rotateme {
    transform: rotate(45deg);
    transform-origin: center;
    transition: 300ms ease-in-out;
}


.rotateme2 {
    transform:rotate(-45deg);
    transform-origin: center;
    transition: 300ms ease-in-out;
}

.hideme {
   visibility: hidden;
}